.servant-details-page {
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
  justify-content: center;
}

.servant-details-page > div {
  position: absolute;
  width: 80vw;
  margin: 50px 150px;
  background-color: white;
  opacity: 0.95;
  padding: 20px;
  border-radius: 8px;
  height: auto;
}

.carousel-page {
  max-width: 150px;
}

.servant-container {
  background-color: gray;
  padding: 15px;
  border-radius: 15px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
}
.carousel-caption {
  position: unset;
}

app-accordion {
  flex-grow: 1;
  margin-right: 15px;
}
ngb-carousel {
  flex-grow: 0;
}

#carousel-modal {
  width: 60vw;
  align-self: center;
  width: fit-content;
  transform: translateX(-50%);
  left: 50%;
}
