.servant-details-page {
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
  justify-content: center;
}

.servant-details-page > div {
  width: 70vw;
  margin: 50px 150px;
  /* height: 90vh; */
  background-color: white;
  opacity: 0.95;
  padding: 20px;
  border-radius: 8px;
}

.carousel {
  max-width: 250px;
}

.servant-container {
  background-color: gray;
  padding: 15px;
  border-radius: 15px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.carousel-caption {
  position: unset;
}

.spinner-container {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8) no-repeat fixed center;
  display: flex;
  justify-content: center;
  align-items: center;
}
