<div class="servant-details-page">
  <div>
    <h1>{{servantDetailedInfo?.name}}</h1>
    <div class="servant-container">

      <app-accordion [detailedServant]="servantDetailedInfo" [detailedServantEnglish]="servantDetailedEnglishInfo">
      </app-accordion>
      <ng-template #content>
        <div>
          <ngb-carousel id="carousel-modal" [showNavigationArrows]="true" [animation]="false" [pauseOnHover]="true"
            [interval]="99999999999" [wrap]="true">
            @for (image of servantImages; track image; let i = $index) {
              <ng-template ngbSlide>
                <div>
                  <img [src]="image">
                </div>
              </ng-template>
            }
          </ngb-carousel>
        </div>
      </ng-template>
      <ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false" [pauseOnHover]="true"
        class="carousel-page">
        @for (image of servantImages; track image; let i = $index) {
          <ng-template ngbSlide>
            <div>
              <img [src]="image" (click)="openVerticallyCentered(content)">
            </div>
            @if (i <= 3) {
              <p class="carousel-caption">Stage {{i+1}}</p>
            }
            @if (i > 3) {
              <p class="carousel-caption">{{costumeNames[i-4]}}</p>
            }
          </ng-template>
        }
      </ngb-carousel>
    </div>
  </div>
</div>
