<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal info
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="info-grid">
      <p><strong>Original name:</strong> {{detailedServant?.originalName}}</p>
      <p><strong>Class:</strong> {{detailedServant?.className}}</p>
      <p><strong>Type:</strong> {{detailedServant?.type}}</p>
      <p><strong>Flag:</strong> {{detailedServant?.flag}}</p>
      <p><strong>Rarity:</strong> {{detailedServant?.rarity}}</p>
      <p><strong>Cost:</strong> {{detailedServant?.cost}}</p>
      <p><strong>Max level:</strong> {{detailedServant?.lvMax}}</p>
      <p><strong>Gender:</strong> {{detailedServant?.gender}}</p>
      <p><strong>Attribute:</strong> {{detailedServant?.attribute}}</p>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Append skills
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="skills-container">
      @for (skill of appendSkills; track skill.id; let i = $index) {
        <div class="skill">
          <div class="skill-image"><img src={{skill.icon}} alt=""></div>
          <div class="skill-info">
            <div class="detail">
              <h3 class="skill-name">{{skill.name}}</h3>
              <p class="skill-detail">{{getAppendSkillDetail(skill, i)}}</p>
            </div>
            <div class="skill-level">
              <p>Skill level</p>
              <select name="levels" attr.id="append-skill-{{i+1}}"
                [formControl]="appendSkillControls[i]"
                (change)="changeAppendSkillLevel(i)">
                @for (option of options; track option) {
                  <option [value]="option">{{option+1}}</option>
                }
              </select>
            </div>
          </div>
        </div>
      }
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Active skills
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="skills-container">
      @for (skill of activeSkills; track skill.id; let i = $index) {
        <div class="skill">
          <div class="skill-image"><img src={{skill.icon}} alt=""></div>
          <div class="skill-info">
            <div class="detail">
              <h3 class="skill-name">{{skill.name}}</h3>
              <p class="skill-detail">{{getActiveSkillDetail(skill, i)}}</p>
              <p class="skill-cooldown">Cooldown: {{getActiveSkillCooldown(skill, i)}} turns</p>
            </div>
            <div class="skill-level">
              <p>Skill level</p>
              <select name="levels" attr.id="active-skill-{{i+1}}"
                [formControl]="activeSkillControls[i]"
                (change)="changeActiveSkillLevel(i)">
                @for (option of options; track option) {
                  <option [value]="option">{{option+1}}</option>
                }
              </select>
            </div>
          </div>
        </div>
      }
    </div>
  </mat-expansion-panel>
</mat-accordion>
