<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal info
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Original name: {{detailedServant?.originalName}}</p>
    <p>Class: {{detailedServant?.className}}</p>
    <p>Type: {{detailedServant?.type}}</p>
    <p>Flag: {{detailedServant?.flag}}</p>
    <p>Rarity: {{detailedServant?.rarity}}</p>
    <p>Cost: {{detailedServant?.cost}}</p>
    <p>Max level: {{detailedServant?.lvMax}}</p>
    <p>Gender: {{detailedServant?.gender}}</p>
    <p>Atribute: {{detailedServant?.attribute}}</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Append skills
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="skills-container">
      <div *ngFor="let skill of getEnglishInfo()?.appendPassive; let i = index" class="skill">
        <div class="skill-image"><img src={{skill.skill.icon}} alt=""></div>
        <div class="skill-info">
          <div class="detail">
            <h3 class="skill-name">{{skill.skill.name}}</h3>
            <p class="skill-detail">{{appendSkillDetail(skill.skill.detail, i)}}</p>
          </div>
          <div class="skill-level">
            <p>Skill level</p>
            <select name="levels" attr.id="append-skill-{{i+1}}" [formControl]="appendSkillLevelControl"
              (change)="changeAppendSkillLevel(i)">
              <option *ngFor="let option of options" selected="appendDefaultLevel[i]" [value]="option">
                {{option+1}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Active skills
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="skills-container">
      <div *ngFor="let skill of activeSkills; let i = index" class="skill">
        <div class="skill-image"><img src={{skill.icon}} alt=""></div>
        <div class="skill-info">
          <div class="detail">
            <h3 class="skill-name">{{skill.name}}</h3>
            <p class="skill-detail">{{skill.detail}}</p>
          </div>
          <div class="skill-level">
            <p>Skill level</p>
            <select name="levels" [formControl]="activeSkillLevelControl">
              <option *ngFor="let option of options" selected="appendDefaultLevel[i]" [value]="option">
                {{option+1}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
