<div class="spinner-container" *ngIf="!loaded">
    <mat-spinner class="loading"></mat-spinner>
</div>

<div class="dashboard-page" *ngIf="loaded">
    <div class="example-form">
        <mat-form-field class="example-full-width" appearance="outline" color="primary">
            <input type="text" matInput [formControl]="searchValue" [matAutocomplete]="auto"
                placeholder="search servant...">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <app-card class="card-container" [filteredServantList]="filteredOptions"></app-card>
</div>